body {
  background-attachment:fixed;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('imgs/PCBlur7.5.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.footer-cont1 {
  position:absolute;
  bottom:30px;
  left:0;
  right:0;
  background-color:rgb(15,15,15);
  line-height: 27px;
}

.footer1-text {
  text-align:center;
  font-family:Verdana;
  margin:20px auto;
}

.github {
  color:rgb(208, 173, 226);
  margin-right: 15px;
}

.mrbb {
  color:rgb(208, 173, 226);
  margin-right: 15px;
}

.boagcserver {
  color:rgb(208, 173, 226);
  margin-right: 15px;
}

.boagcweb {
  color:rgb(208, 173, 226);
  margin-right: 15px;
}

.footer-cont2 {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background-color:rgb(0,0,0);
  line-height: 0px;
}

.footer2-text {
  text-align:center;
  font-family:Verdana;
  margin:15px auto;
}

.sign {
  color:#404040;
  font-family:Verdana;
  font-size:12px;
}

.progress {
  font-family:Verdana;
  font-size:30px;
  color:rgb(255,255,255);
  text-align:center;
  margin:auto;
  padding:200px;
}

.progress-txt1 {
  background-color:rgba(15,15,15,0.4);
}

