body {
  background-attachment:fixed;
  background-image:url('imgs/matrix.gif');
  background-size:cover;
}
.img1 {
  float:left;
  padding:395px 0;
  width:70px;
  height:70px;
  position: absolute;
  top: 0px;
  left: 732px;
}
.img2 {
  float:right;
  padding:395px 0;
  width:70px;
  height:70px;
  position: absolute;
  top: 0px;
  right: 732px;
  transform:rotate(270deg);
}
.loading {
  text-align:center;
  font-size:50px;
  color:white;
  padding:400px 0;
}
.sign {
  text-align: center;
  color:rgb(255, 255, 255);
  padding:10px 0;
  font-family:Verdana;
  font-weight:100;
}